:root {
  --fs-base: 10px;
  --border-radius-sm: 1rem;
  --fs-primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --fs-color-primary: #9dd2d8;
  --fs-color-secondary: #fadce4;
  --fs-color-accent: #ffb5cc;
  --btn-width: 8rem;
  --btn-height: 8rem;
  --game-area-w: 10rem;
  --game-area-h: 10rem;
}

html {
  font-size: var(--fs-base);
  font-family: var(--fs-primary-font);
}

body {
  background-color: var(--fs-color-accent);
}

h1 {
  font-size: 1.8rem;
}

section {
  text-align: center;

  &.game-area,
  &.game-results {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
  }
}

.game-area {
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
}

.bot-field {
  height: var(--game-area-h);
  font-size: 1.8rem;
  display: flex;
  place-content: center;
  flex-direction: column;
}

.player-field {
  display: flex;
  gap: 1rem;
  place-content: center;

  button {
    font-size: 1.8rem;
    padding: 1rem;
    height: var(--btn-height);
    width: var(--btn-width);
    border-radius: var(--border-radius-sm);
    border-width: 0;
  }
}
