:root {
  --border-radius-sm: 1rem;
  --fs-primary-font: sans-serif;
}

html {
  font-size: 10px;
  font-family: var(--fs-primary-font);
}

p {
  font-size: 1.8rem;
}

section {
  text-align: center;

  &.game-area,
  &.game-results {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
  }
}

fieldset {
  border-radius: var(--border-radius-sm);
  padding: 2rem;
}

.player-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    padding: 1rem;
    border-radius: var(--border-radius-sm);
    border-width: 0;
  }
}
